h1{font-size:38px;}
textarea{width: 800px;
height:50px}

header{background:beige;
padding: 28px 0;
position: static;
z-index: 1000;}

nav{text-align:right;}

nav a{color: brown;
text-decoration: none;
margin: 0 12px;
font-size: 20px;
font-weight: bold;}

img{width:1500px;
height: 400px;}

nav a:hover{color:brown;}

h3{text-align:start;
color: brown;}

p{font-size:20px;
  font-weight: 200px;
text-transform:none;
color: #451313;}

li{font-size:21px;}
b{font-size: larger;
   COLOR:#468a9a;
   color: saddlebrown ;
}

a{text-decoration: none;
font-size: large;
color: #0f0e0e;}

h1{ text-align: center;}
h2{ text-align: center;}

div{background-color: #451313;
color: aliceblue;
width:105px}

