  /* h1{color:bisque;}

 body {  background-color:#f0f000} 

button{ color:black;  
        background-color:blue;}*/

/* 
#heading1{color:blueviolet}   
     #heading2{color:chartreuse}   
     #heading1{color:chocolate}   


.classI{color:darkviolet} 
#box{background-color:blue;} 

.heading{color:red;}


button{background-color:green;} */

/* 

h1{text-align: center;
text-transform: capitalize;}


p{font-family: 'Times New Roman', Times, serif;}



#inner{font-size :10px;}
#outer{font-size :25px;} */

/* 
div{height: 100px;
width: 100px;
background-color: green;
border-radius: 50%;} */


/*<p>practice set 3 ques2</p>*/

/* body
{padding:0;
margin:0;
color:white;}

#navbar{height: 60px;

background-color:#0f1111;}

button{background-color: #f08804;
color: white;}

#logo{color: #f08804;
font-size: 25px;}

a{margin-right: 200px;
text-decoration: none;}
  */

/* <p>practice 4 q1</P> */

 /* div{height:100px;
width:100px;
border-style: solid;} 

#hd1{background-color: rgba(255,0,0,0.5);}
#hd2{background-color: rgba(0,255,0,0.5);}
#hd3{background-color: rgba(0,0,255,0.5);} */



/* <!-- <p>practice set 4 ques1-4</p>--> */
/* 
div{height:100px;
width:100px;
background-color: blueviolet;
position: relative right;
z-index: -2;} */



/* <!-- <p>practice set 5 ques1-4</p>--> */


/* div{height: 100px;
width: 100px;
background-color: brown;
position: fixed;
right:0px}

p{font-size: larger ;} */



/* flexbox */

body{text-align: center;}

#con1{width: 800px;
height:200px;
display: flex;
flex-wrap: wrap;
align-items: center;}

div{height: 100px;
width: 100px;
display:inline-block;
border:2px solid black;}

#b1{background-color: aqua;}
#b2{background-color: yellowgreen;}
#b3{background-color: brown;}
#b4{background-color: blueviolet;}
#b5{background-color: gold;}




